* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* * {
  overflow-x: hidden;
} */

/* *::-webkit-scrollbar {
  height: 0; 
  width: 15px; 
}
*::-webkit-scrollbar-thumb {
  background-color: #999; 
} */
