.page {
    height: 100vh;
    width: 100vw;
    display: flex;
    background-color: #1C1C1C;
}

.box {
    width: 100vw;
    height: 100vh;
    overflow-y: scroll;
    gap: 10px;
    padding: 100px;
    display: flex;
    flex-direction: column;
}

.box input {
    padding: 15px;
    height: 40px;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    border-color: black;
}

.box button {
    margin: 20px;
    height: max-content;
    padding: 10px;
    width: 70px;
    border-radius: 20px;
    background-color: #101010;
    color: white;
    border: 1px solid white;
    margin-left: auto;
    margin-right: auto;
    min-width: max-content;
    cursor: pointer;
}

.box button:hover {
    background-color: #00aa36;
}

.h2 {
    text-align: center;
    color: white;
}

.buttons {
    display: flex;
    margin-top: 10px;
    gap: 10px;
}

.buttons button {
    height: max-content;
    padding: 10px;
    width: 70px;
    border-radius: 20px;
    background-color: #101010;
    color: white;
    border: 1px solid white;
}




.print-box {
    min-width: 100vw;
    min-height: 100vh;
    background-color: green;
    display: flex;
    align-items: center;
    padding: 30px;
    flex-direction: column;
}

.product {
    background-color: #303030;
    padding: 20px;
    color: #d4d4d4;
    border-radius: 30px;
}

.product button {
    margin-top: 10px;
}

.select-container {
    display: flex;
    background-color: #101010;
    margin-left: auto;
    margin-right: auto;
    width: max-content;
    color: white;
    gap: 10px;
}

.select {
    padding: 20px;
    cursor: pointer;
}
.active-select {
    background-color: #00aa36;
    padding: 20px;
    cursor: pointer;
}
