.page {
    height: 100vh;
    width: 100vw;
    display: flex;
    background-color: #1C1C1C;
}

.box {
    width: 100vw;
    height: 100vh;
    overflow-y: scroll;
    gap: 10px;
    padding: 100px;
    display: flex;
    flex-direction: column;
}

.box input {
    padding: 15px;
    height: 40px;
    width: 40vw;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    border-color: black;
}

.box button {
    margin: 20px;
    height: max-content;
    padding: 10px;
    width: 70px;
    border-radius: 20px;
    background-color: #101010;
    color: white;
    border: 1px solid white;
    margin-left: auto;
    margin-right: auto;
    min-width: max-content;
    cursor: pointer;
}

.box button:hover {
    background-color: #00aa36;
}

.h2 {
    text-align: center;
    color: white;
}

.buttons {
    display: flex;
    margin-top: 10px;
    gap: 10px;
}

.buttons button {
    height: max-content;
    padding: 10px;
    width: 70px;
    border-radius: 20px;
    background-color: #101010;
    color: white;
    border: 1px solid white;
}




.print-box {
    min-width: 100vw;
    min-height: 100vh;
    background-color: green;
    display: flex;
    align-items: center;
    padding: 30px;
    flex-direction: column;
}

.product {
    background-color: #303030;
    padding: 20px;
    color: #d4d4d4;
    border-radius: 30px;
}

.product button {
    margin-top: 10px;
}

.select-container {
    display: flex;
    background-color: #101010;
    margin-left: auto;
    margin-right: auto;
    width: max-content;
    color: white;
    gap: 10px;
}



.select {
    padding: 20px;
    cursor: pointer;
}

.active-select {
    background-color: #00aa36;
    padding: 20px;
    cursor: pointer;
}


.item {
    background-color: #303030;
    padding: 20px;
    border-radius: 30px;
    color: white;
    margin-bottom: 20px;
}

.item-top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.item-bottom {
    display: flex;
    gap: 20px;
    align-items: center;
}


.remove-item-button {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: white;
    margin-bottom: 10px;
    background: url('../public/close-button.png');
    background-size: cover;
    background-position: center;
    cursor: pointer;
}


.increment {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: white;
    margin-bottom: 10px;
    background: url('../public/plus.png');
    background-size: cover;
    background-position: center;
    cursor: pointer;
}

.decrement {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: white;
    margin-bottom: 10px;
    background: url('../public/minus.png');
    background-size: cover;
    background-position: center;
    cursor: pointer;
}

.item-quantity {
    font-size: x-large;
    font-weight: bolder;
}


.cart-preview {
    background-color: #303030;
    color: white;
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 20px;
    border-radius: 20px;
}

.cart-caring,
.cart-discount,
.cart-total,
.cart-subtotal,
.cart-transportation,
.cart-signature,
.cart-reference {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
}


.cart-subtotal {
    font-size: x-large;
    font-weight: bold;
    border-bottom: 1px solid white;
    padding-bottom: 10px;
}


.cart-total {
    font-size: x-large;
    font-weight: bold;
    border-top: 1px solid white;
    padding-top: 10px;
}
.cart-discount input {
    margin: 0;
    outline: none;
}

.cart-caring input {
    margin: 0;
    outline: none;
}

.cart-subtotal input {
    margin: 0;
    outline: none;
}

.cart-transportation input {
    margin: 0;
    outline: none;
}

.cart-signature input {
    margin: 0;
    outline: none;
}

.cart-reference input {
    margin: 0;
    outline: none;
}

.empty-cart {
    color: white;
    margin-top: 10px;
    text-align: center;
}

.print{
    padding-top: 20px;
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 20px;
    row-gap: 20px;
}


@media only screen and (min-width:413px) and (max-width: 800px){
    .box input {
        height: 70px;
        width: 70vw;
    }
}
