.page {
    height: 100vh;
    width: 100vw;
    display: flex;
    background-color: #51b3d4;
}

.box {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.box input {
    padding: 15px;
    height: 40px;
    width: 300px;
    border-radius: 10px;
    border-color: black;
}

.box button {
    margin: 20px;
    height: max-content;
    padding: 10px;
    width: 70px;
    border-radius: 20px;
    background-color: #101010;
    color: white;
    border: 1px solid white;
}

.box button {
    cursor: pointer;
}

.box button:hover {
    background-color: rgb(0, 170, 54);
}

.h2 {
    margin-top: 20px;
    margin-bottom: 20px;
}

.buttons {
    display: flex;
    margin-top: 10px;
    gap: 10px;
}

.buttons button {
    height: max-content;
    padding: 10px;
    width: 70px;
    border-radius: 20px;
    background-color: #101010;
    color: white;
    border: 1px solid white;
}




.print-box {
    min-width: 100vw;
    min-height: 100vh;
    background-color: green;
    display: flex;
    align-items: center;
    padding: 30px;
    flex-direction: column;
}